<%layout('layout/boilerplate')%>
    <h1>AVAILABLE CAMPGROUNDS </h1>
    <br>
    <p> ADD <a href="/campgrounds/new">NEW CAMPGROUND</a></p>
    <ul>
        <% for ( let i of campground) { %>
            <li><%= i.title %> </li> <a href="/campgrounds/<%=i._id%>"> Details</a>
            <% } %> 
    </ul>

