<% layout('layout/boilerplate') %>
<h1 class="text-center"> New Campground</h1>
<div class="col-6 offset-3">
    <form action="/campgrounds" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="title"> Title </label>
            <input class="form-control" type="text" name="campground[title]" id="title" required>
            <div class="valid-feedback">
                <p> looks good</p>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location"> Location </label>
            <input class="form-control" type="text" name="campground[location]" id="location" required>
            <div class="valid-feedback">
                <p> looks good</p>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image"> image URL </label>
            <input class="form-control" type="text" name="campground[image]" id="image" required>
            <div class="valid-feedback">
                <p> looks good</p>
            </div>
        </div>
        <!-- <div class="mb-3">
            <label class="form-label"for="price"> price </label>
            <input class="form-control"type="number" name = "campground[price]" id ="price">
        </div> -->
        <div class="mb-3">
            <label class="form-label" for="price"> Camp price </label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="number" class="form-control" name="campground[price]" id="price" placeholder="0"
                    aria-label=" " aria-describedby="price-label" required>
                <div class="valid-feedback">
                    <p> looks good</p>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description"> description </label>
            <textarea class="form-control" type="text" name="campground[description]" id="description"
                required></textarea>
            <div class="valid-feedback">
                <p> looks good</p>
            </div>
        </div>

        <div class="mb-3 form-label">
            <button class="btn btn-success text-center"> Add campground </button>
        </div>

    </form>
</div>


<br>
<hr>
<p><a href="/campgrounds">Back to ALL CAMPS</a></p>

<br>