<% layout('layout/boilerplate') %>

<div class="container justify-items-center text-center col-8 offset-2">
    <h1> <%= err.status_code %> </h1>
    <h4> Page could not be found</h4>
    <h6> <%= err.message %> </h6>

    <div class="button">
        <button class="btn btn-info">
            <a href="/campgrounds" style="text-decoration:none; color:black">Back to Home Page</a>
        </button>
    </div>
</div>
<br>